*{
    /* border: 2px solid red; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size: 1em;
  }

 li p{
    margin: 0 0 0 0;
  }
:root{
    --aclonica: 'Aclonica', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --purple: #9100FF;
    --orange: #FF6663;
    --grey: rgba(255, 255, 255, 0.782);
    /* --grey: #000; */
    --white: #fff;
    --black: #000;
    --linear: linear-gradient(rgba(145, 0, 255, 1), rgba(0, 255, 234, 1));
}
.btns{
  color: var(--white);
  border-radius: 25px;
  position: relative;
  transition: 0.3s all;
  text-decoration: none;
}
.btns:hover{
  transform: scale(0.9);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex_a{
  display: flex;
  align-items: center;
}
.flex_j{
  display: flex;
  align-items: center;
}
.pm0{
  padding: 0 0;
  margin: 0 0;
}
.para{
  color: var(--grey);
  font-size:  clamp(1rem, 3vw, 2rem);
  line-height: auto;
}
.heading-text{
  margin-top: 0px;
  font-family: var(--aclonica);
  font-size: clamp(1rem, 7vw, 5rem);
  color: var(--purple);
}

/* wrapper5 --------- */

.wrap5{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
}
.wrap5 .wrapper5{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin-top: 30px;
}

.wrap5 .headingBox{
  width: 500px; /*-------*/
  font-family: var(--aclonica);
  padding-left: 20px;
  align-items: flex-start;
  border-left: 3px solid var(--purple);
}

@media only screen and (min-width: 0px) and (max-width: 625px) {
  .wrap5 .headingBox{
    width: 100%;
  }
}

.wrap5 .headingBox p{
  margin: 10px 0;
  color: var(--purple);
  font-size:  clamp(1rem, 3vw, 2rem);
}

.wrap5 .wrapper5 .section2{
  margin: 3% 0px;
  display: flex;
  align-self: flex-start;
  width: 100%;
}
.wrap5 .wrapper5 .section2 h4{
  font-size: 15px;
  color: white;
  font-family: var(--roboto);
  font-weight: bold;
}

@media only screen and (min-width: 785px) and (max-width: 985px) {
  .wrap5 .wrapper5{
      width: 75%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 785px) {
  .wrap5 .wrapper5{
      width: 80%;
  }
}

/* swiper */
/* wrapper5 */
.wrap5 .section2 .container{
    width: 100%;
    height: 100%;
    padding: 0;
}
.wrap5 .section2 .container .myswiper{
    width: 100%;
    height: 80%;
}
.wrap5 .section2 .container .swiper-wrapper{   
    scroll-behavior: auto;
    width: 100vp;
    height: 100%;
}
.wrap5 .section2 .container .swiper-slide {
    scroll-behavior: auto;
    border-radius: 25px;
    width: 300px;
    min-height: 350px;
    position: relative;
    /* border: 2px solid blue; */
  }
.wrap5 .section2 .container .swiper-slide img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 25px;
    object-fit: cover;
    border: 3px solid var(--white);
    z-index: 999;
}
.wrap5 .section2 .container .reviewBox{
  position: relative;
  width: 100%;
  min-height: 230px;
  color: var(--white);
  background-color: #9100FF;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex; 
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  
  padding: 10px 15px;
}
.wrap5 .tags{
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: var(--aclonica);
  font-size: 14px;
  color: aqua;
  justify-content: space-between;
}

.wrap5 .tags .stars {
  width: 100%;
}
.wrap5 .tags .stars i{
  color: rgb(255, 221, 0);
  font-size: 15px;
  padding: 0 3px;
}

.wrap5 .wrapper5 .content h3, .wrapper5 .content p{
  font-family: var(--roboto);
  font-size: 12px;
  font-weight: bold;
  margin: 0 0;
}
.wrap5 .wrapper5 .review p{
  color: rgba(255, 255, 255, 0.946);
  line-height: 16px;
  font-family: var(--roboto);
  font-size: 14px;
  text-align: justify;
  text-align-last: center;
}


@media only screen and (min-width: 0px) and (max-width: 600px) {
    .wrap5 .section2 .container .swiper-slide {
        /* width: 210px;
        height: 100%; */
        margin-right: 20px !important;
    }
}

@media only screen and (min-width: 720px) {
  .wrap5 .wrapper5 .section1{
    width: 85%;
  }
  .wrap5{
    padding: 50px 0px;
  }
}