*{
    /* border: 2px solid red; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size: 1em;
  }

 li p{
    margin: 0 0 0 0;
  }
:root{
    --aclonica: 'Aclonica', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --purple: #9100FF;
    --orange: #FF6663;
    --grey: rgba(255, 255, 255, 0.782);
    /* --grey: #000; */
    --white: #fff;
    --black: #000;
    --linear: linear-gradient(rgba(145, 0, 255, 1), rgba(0, 255, 234, 1));
}
.btns{
  color: var(--white);
  border-radius: 25px;
  position: relative;
  transition: 0.3s all;
  text-decoration: none;
}
.btns:hover{
  transform: scale(0.9);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex_a{
  display: flex;
  align-items: center;
}
.flex_j{
  display: flex;
  align-items: center;
}
.pm0{
  padding: 0 0;
  margin: 0 0;
}
.para{
  color: var(--grey);
  font-size:  clamp(1rem, 3vw, 2rem);
  line-height: auto;
}
.heading-text{
  font-family: var(--aclonica);
  font-size: clamp(1rem, 7vw, 5rem);
  color: var(--purple);
}
/* wrap 1--------- */
.hero{
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap1{
  background: url(img/bg.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}
.header{
    justify-content: space-between;
    width: 90%;
    height: 20vh;
}
.circlewrap{
  padding: 15px 15px;
  font-size: 15px;
  font-family: var(--Roboto);
  font-weight: bold;
  justify-content: center;
  border: 3px solid #9100FF;
}
.circlewrap .pop{
  margin: 0 10px 0 0;
}
.circlewrap a{
  color: var(--white);
}
.circlewrap a:hover {
  color: var(--white);
  text-decoration: none;
}


/* menu---- */
.dots-menu {
  min-height: 80vh;
  width: 100%;
}
.menuwrap{
    position: fixed;
    top: 40%;
    right: 5%;
    z-index: 999;
}
.menu-box{
  font-size: 15px;
  border-radius: 25px;
  padding: 5px;
  margin: 5px 0;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

li:hover .menu-text{
  background: var(--purple);
  display: block;
}
.menu-text{
  border-radius: 25px;
  padding: 5px 10px;
  display: none;
}
.menu-box .circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--purple);
  margin-left: 10px;
  cursor: pointer;
}
/* hero-section---- */
.header-text{
  flex-basis: 60%;
}

.header-text h1, .header-text h3{
  font-family: var(--aclonica);
  font-size: clamp(1rem, 7vw, 5rem);
}
.header-text h3{
  color: var(--purple);
}
.header-text .btns{    
    display: inline-block;
    margin-top: 10px;
    padding: 2% 8%;
    border-radius: 25px;
    font-size: 20px;
    background: var(--purple);
    border: 3px solid var(--purple);
    font-family: var(--aclonica);
    text-decoration: none;
    transition: 0.3s all;
}
.header-text .btns:hover{
  background: transparent;
  color: var(--white);
}
.headerImg{
  max-width: 30%;
}
.headerImg img{
  width: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 450px) {
  .header-text h1, .header-text h3{
    font-size: clamp(1rem, 6.5vw, 5rem);
  }
  .headerImg{
    max-width: 70%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 720px) {
  .dots-menu {
    flex-direction: row-reverse;
  }
  .wrap1{
    min-height: 90vh;
  }
  .hero{
    align-items: flex-start;
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: 70vh;
    margin: 0% 5% 10% 5%;
  }
  .header{
    min-height: 20vh;
  }
  .headerImg{
    max-width: 60%;
  }
  .dots-menu {
      min-height: 75vh;
  }
  .header-text {
    margin: 10% 0% 0% 0%;
  }
  .para{
    margin-top: 5px;
  }
  .circlewrap .pop{
    display: none;
  }
  .circlewrap:hover .pop{
    display: block;
    color: var(--white);
  }
}
@media only screen and (min-width: 1400px){
  .header-text{
    flex-basis: 50%;
  }  
}

/* wrap2 --------- */

.wrapper2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(144, 0, 255, 0.17), rgba(0, 255, 234, 0.265));
}
.wrap2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin-top: 30px;
}
.wrap2 .section1{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  z-index: 1;
  border-left: 3px solid var(--purple);
  padding-left: 20px;
}
.wrap2 .section1 h1{
  position: relative;
}
.headingBox{
  display: flex;
  align-items: center;
  /* margin-top: 6%; */
}
.headingBox .line{
  background: #9100FF;
  width: clamp(60px, 15vw, 100px);
  height: 3px;
  border-radius: 5px;
  margin-right: 15px;
}
.wrap2 .section1 p{
  color: rgba(48, 48, 48, 0.625);
  font-size: 18px;
  text-align: justify;
}
.wrap2 .section1 h3{
  margin: 10px 0 20px 0;
  align-self: flex-start;
  text-align: left;
  color: #fff;
  font-family: var(--playfair);
}

.wrap2 .heading{
  position: relative;
}

.wrap2 .section2{
  margin-top: 15%;
}
.wrap2 .section3{
  margin: 3% 0px;
  display: flex;
  align-self: flex-start;
  width: 100%;
}
.wrap2 .section3 h4{
  font-size: 15px;
  color: white;
  font-family: var(--roboto);
  font-weight: bold;
}

@media only screen and (min-width: 785px) and (max-width: 985px) {
  .wrap2{
      width: 75%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 785px) {
  .wrap2{
      width: 80%;
  }
}

/* swiper */
/* wrap5 */
.section3 .containerr .button {
  color: #9000ff00;
}
.quotes{
  font-weight: bold;
  font-size: 64px;
}
.section3 .containerr{
    width: 100%;
    height: auto;
    /* background: #060c21; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
}
.section3 .containerr .myswiper{
    width: 100%;
    height: 80%;
}
.section3 .containerr .swiper-wrapper{   
    scroll-behavior: auto;
    width: 100vp;
    height: 100%;
}


.section3 .containerr .swiper-slide {
    scroll-behavior: auto;
    border-radius: 25px;
    width: 300px;
    height: 250px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    position: relative;
    text-align: center;
    font-size: 18px;
    text-align: center;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}
.section3 .containerr .swiper-slide > img {
    border-radius: 25px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section3 .containerr .para{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: justify;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  height: 100%;
  background: linear-gradient(rgba(145, 0, 255, 0.64), rgba(0, 0, 0, 0.64));
  font-size: 12px;
  border-radius: 25px;
  transition: 0.5s;
}

.section3 .containerr .swiper-slide:hover .para{
  background: linear-gradient(rgba(144, 0, 255, 0), rgba(0, 0, 0, 0));
}
.section3 .containerr .para a{
  border: none;
  background: #9100ff;
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: var(--roboto);
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    .section3 .containerr .swiper-slide {
        width: 230px;
        height: 200px;
        margin-right: 20px !important;
    }
    .section3 .containerr .para{
        padding: 0 0;
    }
}

@media only screen and (min-width: 720px) {
  .wrap2 .section1{
    width: 85%;
  }
  .wrapper2{
    padding: 50px 0px;
  }
  .section3 .containerr .button {
    color: #9000ff;
  }
  .wrap2 .section2{
    margin-top: 6%;
  }
}
    

/* wrapper 3 */
 .wrap3{
  padding: 5% 0px;
  background: white !important;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#accordion{
  width: 80%;
  padding: 0% 0% 0% 5%;
  border-left: 3px solid var(--purple);
}
.boxDropdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ansNques{
  padding: 10px 30px;
  margin: 20px 0px;
  /* border: 3px dashed var(--black); */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='7' stroke-dashoffset='44' stroke-linecap='round'/%3e%3c/svg%3e");
}
.ansNques:focus-within{
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.369);
}

.ansNques button{
  outline: none;
  text-decoration: none;
  border: none;
}

.btn-link:focus, .btn-link:hover{
  text-decoration: none;
}

.btn:focus{
  outline: none !important;
}
.btn-link:focus, .btn-link:hover{
  text-decoration: none !important;
}
.wrap3 h4{
  margin: 0 20px 0 0;
  color: var(--black);
  font-family: var(--aclonica);
  font-size: 24px;
}
.card .btn{
  width: 100%;
}
.card-body{
  padding: 15px;
}
.boxDropdown i{    
  font-size: 29px;
  border: 2px dashed var(--purple);
  width: 33px;
  height: 34px;
  height: px;
  border-radius: 50%;
  padding-top: 1px;
}

.fa-circle{
  color: #9100FF;
}

@media only screen and (min-width: 0px) and (max-width: 840px) {
  #accordion{
    width: 100%;
    padding: 0% 0% 0% 0%;
    border-left: 0px solid var(--purple);
  }

  .wrap3 .container{
    width: 100%;
    margin: 0 3%;
  }
  .wrap3{
    margin: 3% 0;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 381px) and (max-width: 600px) {
  .wrap3 h4{
    font-size: clamp(1.5rem, 2vw, 4rem);
  }
}

@media only screen and (min-width: 0px) and (max-width: 380px) {
  .wrap3 h4{
    font-size: clamp(1rem, 2vw, 4rem);
  }
  .wrap3 .ansNques{
    padding: 0px 20px;
  }

  .wrap3 .boxDropdown i{
    font-size: 22px;
    height: 26px;
    width: 26px;
  }

}
/*--------------------------------------------------------------
# Services dropContent Section
--------------------------------------------------------------*/
.cardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: var(--Roboto);
  font-weight: bold;
}
.card-body{
  margin: 30px 0px;
}
.cardBox{
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.277);
  padding: 0 40px;
  border-radius: 25px;
  width: 350px;
  min-height: 250px;
  position: relative;
}

.cardBox .cardImg{
  position: absolute;
  border: 5px solid var(--white);
  background: var(--purple);
  border-radius: 50%;
  padding: 20px;
  top: -40px;
}
.cardPara{
  margin-top: 10px;
}
.cardBtns .one{
  margin: 15px 0px;
  padding: 15px 25px;
  border-radius: 25px;
  background: var(--purple);
}

.cardBtns .two{
  color: var(--purple);
}

.cardImg i{
  font-size: 30px !important;
  color: #fff;
}

@media only screen and (min-width: 0px) and (max-width: 520px) {

  .cardBox{
    width: 100%;
  }
.cardPara{
  font-size: 14px;
}
  .ansNques {
      padding: 10px 15px;
  }
  .cardBtns .one{
    margin: 15px 0px;
    padding: 10px 20px;
    font-size: 14px;
  }
}

/* wrapper4 */
.wrap4{
  background: var(--darkblue);
}
.wrapper4{
  background: #161D33;
  width: 100%;  
  height: 40vh;
}
.wrap4 .container{
  color: var(--white);
  width: 75%;
  height: 30vh;
}
.wrap4 .slogan{
  z-index: 999;
  /* margin-right: 3%; */
  flex-basis: 100%;
}
.wrap4 .section i{
  position: absolute;
  top: -50px;
  left: 0px;
  font-size: 100px;
  
  background: linear-gradient(rgba(145, 0, 255, 0.77) ,rgba(0, 0, 0, 0.593));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper4 h4 span{
  line-height: 25px;
  background: linear-gradient(rgba(0, 255, 234, 0.88), rgba(173, 66, 255, 0.965));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrap4 .section{
  
  position: relative;
  font-family: var(--aclonica);
  display: flex;
  align-items: center;
  width: 700px;
  text-align: center;
  text-transform: uppercase;
}
.wrap4 .slogan h4{
  font-size: 36px;
}
@media only screen and (min-width: 0px) and (max-width: 435px) {
  .wrapper4{
      height: 30vh;
  }
  .wrap4 .slogan h4{
      font-size: 2rem;
  }
  .wrap4 .container{
      width: 100%;
      height: 20vh;
  }
}
@media only screen and (min-width: 436px) and (max-width: 590px){
.wrap4 .slogan h4{
      font-size: 28px;
  }
  .wrap4 .container{
      width: 95%;
      height: 30vh;
  }
}
@media only screen and (min-width: 591px) and (max-width: 785px){
  .wrap4 .slogan h4{
      font-size: 34px;
  }
  .wrap4 .container{
      width: 90%;
      height: 35vh;
  }
}


/* ---------------------wrap5---------------- */

/* wrapper5 --------- */

.wrap5{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
}
.wrap5 .wrapper5{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin-top: 30px;
}
.wrap5 .wrapper5 .section1{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  z-index: 1;
  border-left: 3px solid var(--purple);
  padding-left: 20px;
}
.wrap5 .wrapper5 .section1 h1{
  position: relative;
}
.wrap5 .headingBox .line{
  background: #9100FF;
  width: clamp(60px, 15vw, 100px);
  height: 3px;
  border-radius: 5px;
  margin-right: 15px;
}

.wrap5 .wrapper5 .heading{
  position: relative;
}

.wrap5 .wrapper5 .section2{
  margin: 3% 0px;
  display: flex;
  align-self: flex-start;
  width: 100%;
}
.wrap5 .wrapper5 .section2 h4{
  font-size: 15px;
  color: white;
  font-family: var(--roboto);
  font-weight: bold;
}

@media only screen and (min-width: 785px) and (max-width: 985px) {
  .wrap5 .wrapper5{
      width: 75%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 785px) {
  .wrap5 .wrapper5{
      width: 80%;
  }
}

/* swiper */
/* wrapper5 */
.wrap5 .section2 .container{
  padding: 0;
    width: 100%;
    height: 100%;
}
.wrap5 .section2 .container .myswiper{
    width: 100%;
    height: 80%;
}
.wrap5 .section2 .container .swiper-wrapper{   
    scroll-behavior: auto;
    width: 100vp;
    height: 100%;
}
.wrap5 .section2 .container .swiper-slide {
    scroll-behavior: auto;
    border-radius: 25px;
    width: 270px;
    height: 100%;
}
.wrap5 .section2 .container .swiper-slide > img {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 190px;
    object-fit: cover;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 43%);

}
.wrap5 .section2 .container .para{
  width: 100%;
  color: #000;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  height: 100%;
  /* border: 2px solid red; */
  padding: 10px 0px;
}
.wrap5 .tags{
  width: 100%;
  display: flex;
  align-items: center;
  font-family: var(--Roboto);
  font-weight: bold;
  font-size: 14px;
  color: var(--orange);
  justify-content: space-between;
}
.wrap5 .tags .btns{
  font-size: 12px;
  background: var(--purple);
  padding: 8px 25px;
}
.wrap5 .wrapper5 .content{
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  flex-direction: column;
}
.wrap5 .wrapper5 .content h3{
  margin: 8px 0 3px 0;
  font-family: var(--aclonica);
  font-size: 18px;
}
.wrap5 .wrapper5 .content p{
  line-height: 16px;
  font-family: var(--roboto);
  font-size: 14px;
  margin: 0 0;
}


@media only screen and (min-width: 0px) and (max-width: 600px) {
    .wrap5 .section2 .container .swiper-slide {
        /* width: 210px;
        height: 100%; */
        margin-right: 20px !important;
    }
}

@media only screen and (min-width: 720px) {
  .wrap5 .wrapper5 .section1{
    width: 85%;
  }
  .wrap5{
    padding: 50px 0px;
  }
}



/* wrapper6 --------- */

.wrap6{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
}
.wrap6 .heading-text{
  margin-top: 0px;
  color: black;
}
.wrap6 .wrapper6{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin-top: 30px;
}

.wrap6 .headingBox{
  width: 500px;
  font-family: var(--aclonica);
  padding-left: 20px;
  align-items: flex-start;
  border-left: 3px solid var(--purple);
}

@media only screen and (min-width: 0px) and (max-width: 625px) {
  .wrap6 .headingBox{
    width: 100%;
  }
}

.wrap6 .headingBox p{
  margin: 10px 0;
  color: var(--purple);
  font-size:  clamp(1rem, 3vw, 2rem);
}

.wrap6 .wrapper6 .section2{
  display: flex;
  align-self: flex-start;
  width: 100%;
}

@media only screen and (min-width: 785px) and (max-width: 985px) {
  .wrap6 .wrapper6{
      width: 75%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 785px) {
  .wrap6 .wrapper6{
      width: 80%;
  }
}

/* swiper */
/* wrapper6 */
.wrap6 .section2 .container{
    width: 100%;
    height: 100%;
    padding: 0;
}
.wrap6 .section2 .container .myswiper{
    width: 100%;
    height: 80%;
}
.wrap6 .section2 .container .swiper-wrapper{   
    scroll-behavior: auto;
    width: 100vp;
    height: 100%;
}
.wrap6 .section2 .container .swiper-slide {
    scroll-behavior: auto;
    border-radius: 25px;
    width: 300px;
    min-height: 350px;
    position: relative;
  }
.wrap6 .section2 .container .swiper-slide img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 25px;
    object-fit: cover;
    border: 3px solid var(--white);
    z-index: 999;
}
.wrap6 .section2 .container .reviewBox{
  position: relative;
  width: 100%;
  min-height: 230px;
  color: var(--white);
  background-color: #9100FF;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex; 
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  
  padding: 10px 15px;
}
.wrap6 .tags{
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: var(--aclonica);
  font-size: 14px;
  color: aqua;
  justify-content: space-between;
}

.wrap6 .tags .stars {
  width: 100%;
}
.wrap6 .tags .stars i{
  color: rgb(255, 221, 0);
  font-size: 15px;
  padding: 0 3px;
}

.wrap6 .wrapper6 .content h3, .wrapper6 .content p{
  font-family: var(--roboto);
  font-size: 12px;
  font-weight: bold;
  margin: 0 0;
}
.wrap6 .wrapper6 .review p{
  color: rgba(255, 255, 255, 0.946);
  line-height: 15px;
  font-family: var(--roboto);
  font-size: 14px;
  text-align: justify;
  text-align-last: center;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    .wrap6 .section2 .container .swiper-slide {
        margin-right: 20px !important;
    }
}

@media only screen and (min-width: 720px) {
  .wrap6{
    padding: 50px 0px;
  }
}