*{
    /* border: 2px solid red; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size: 1em;
  }

 li p{
    margin: 0 0 0 0;
  }
:root{
    --aclonica: 'Aclonica', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --purple: #9100FF;
    --orange: #FF6663;
    --grey: rgba(255, 255, 255, 0.782);
    /* --grey: #000; */
    --white: #fff;
    --black: #000;
    --linear: linear-gradient(rgba(145, 0, 255, 1), rgba(0, 255, 234, 1));
}
.btns{
  color: var(--white);
  border-radius: 25px;
  position: relative;
  transition: 0.3s all;
  text-decoration: none;
}
.btns:hover{
  transform: scale(0.9);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex_a{
  display: flex;
  align-items: center;
}
.flex_j{
  display: flex;
  align-items: center;
}
.pm0{
  padding: 0 0;
  margin: 0 0;
}
.para{
  color: var(--grey);
  font-size:  clamp(1rem, 3vw, 2rem);
  line-height: auto;
}
.heading-text{
  font-family: var(--aclonica);
  font-size: clamp(1rem, 7vw, 5rem);
  color: var(--purple);
}
/* -------------------- */



/* strip6 */
.wrap6{
  /* background-color: var(--white); */
  background: url(img/BgLast.svg);
  color: rgba(0, 0, 0, 0.701);
  font-family: var(--aclonica);
  background-attachment: fixed;
  /* background-position: center; */
  /* background-position: bottom -50px right -150px; */
  background-position: bottom -50px right -100px;
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 90vh;   
  position: relative;
  box-sizing: border-box;
}
.wrap6 .sectionwrap{
  height: 400px;
  width: 85%;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* .wrap6 .sectionwrap img{
  position: absolute;
  bottom: -10%;
  right: 10%;
  width: 450px;
} */
.wrap6 .section{
  width: 100%;
}
.wrap6 .content{
  width: 520px;
}

.wrap6 .content a{
  font-size: 14px;
  padding: 10px 12px;
  margin-bottom: 0;
  background-color: #000000;
  width: 130px;
  border-radius: 20px;
  color: white;
}
.socials{
  align-self: flex-end;
  position: absolute;
  bottom: 20px;
}
.wrap6 .content h1{
  font-family: var(--aclonica);
  color: var(--purple);
  width: 100%;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.wrap6 .content p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.emailto{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;

}

.emailto .msg{
  transition: all 0.5s ease;
  font-size: 20px;            
  width: 70%;
  height: 100%;
  border-radius: 15px;
  background: var(--purple);
  color: rgb(255, 255, 255);
  padding: 7px 30px;
  margin-right: 10px;
  position: relative;
}
.emailto i{
  font-size: 30px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  border-radius: 50%;
  background: linear-gradient(rgba(145, 0, 255, 1) ,rgba(0, 255, 234, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: -10px;
  right: -5px;
}

.wrap6 .socials a{
  font-size: 30px;
  margin: 0px 5px;
  background: linear-gradient(rgba(145, 0, 255, 1) ,rgba(0, 255, 234, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 0px) and (max-width: 620px) {
  .wrap6 .content {
    width: 100%;
  }
  .wrap6 .content p{
    font-size: 12px;
  }
}


  /* 
  Get answers to all your questions
  We have Experience that work for you
  lets connect
  just a click away */